.section-features {
    padding-top: 60px;
    padding-bottom: 60px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    // @media screen and (min-width: 768px){
    //   margin: -15px;
    // }
}


.features-list__subtitle {
    color: $primaryTextColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
}

.features-list__text {
    color: $textColor;

    font-size: 14px;
    line-height: 1.71;
    margin-top: 10px;
}


.features-list__item{
    width:100%;
    display: block;

    &:nth-child(1)::before {
            content: '';
            display: block;
            height: 120px;
            margin-bottom: 30px;
            background-image: url('../images/antenna.svg');
            background-color: #f5f4fa;
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: center;
            border-radius: 4px;
        }
    
        &:nth-child(2)::before {
            content: '';
            display: block;
            height: 120px;
            margin-bottom: 30px;
            background-image: url('../images/clock.svg');
            background-color: #f5f4fa;
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: center;
            border-radius: 4px;
        }
    
        &:nth-child(3)::before {
            content: '';
            display: block;
            height: 120px;
            margin-bottom: 30px;
            background-image: url('../images/diagram.svg');
            background-color: #f5f4fa;
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: center;
            border-radius: 4px;
        }
    
        &:nth-child(4)::before {
            content: '';
            display: block;
            height: 120px;
            margin-bottom: 30px;
            background-image: url('../images/astronaut.svg');
            background-color: #f5f4fa;
            background-repeat: no-repeat;
            background-size: 70px;
            background-position: center;
            border-radius: 4px;
        }

    &:not(:last-child){
    margin-bottom: 30px;
}
 @media screen and (min-width: 768px){
    text-align: left;
    margin-right: 30px;
    width: calc((100% - 30px) / 2);
    &:nth-child(2n) {
        margin-right: 0;
 }
 &:nth-child(-n+1) {
    margin-bottom: 30px;
}
 }
 @media screen and(min-width: 1600px){
    width: calc((100% - 3 * 30px) / 4);
        &:nth-child(2n) {
                margin-right: 30px;
            }
            &:last-child{
                margin-right: 0;
            }
             &:nth-child(-n+1) {
    margin-bottom: 0;
             }
 }
 

}

.features-list__subtitle{
    @media screen and (min-width: 768px) {
        display: block;
        text-align: left;
        
}
}
