.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 13px;
 

    @media screen and (min-width: 768px) {
        // margin-right: 93px;
        padding-top: 25px;
        padding-bottom: 25px;
        
    }


   &-accent {
    color: $accentColor;
    // font-family: Raleway, sans-serif;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
}
   &-footer {
    color: #ffffff;
    // font-family: Raleway, sans-serif;
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // text-decoration: none;
}
}